.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.userData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chainSelectorWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.switchChain {
  margin: 0 0.5rem;
  color: #c9c9c9;
  font-size: 12px;
  transition: transform 300ms;
}

.switchChain:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.switchChain:active {
  transform: scale(0.95);
}

.messageInputWrap,
.feeInputWrap {
  display: flex;
  align-items: center;
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  height: 68px;
  border-radius: 12px;
  padding: 0 16px;
  width: 100%;
  background-color: #ffffff;
}

.messageInput,
.feeInput {
  margin-left: 16px;
  background-color: transparent;
  color: #161617;
  font-size: 24px;
  border: 0;
  padding: 1px 2px;
}

.messageInput:focus,
.feeInput:focus {
  outline: 0;
}

.messageLabel,
.feeLabel {
  border-radius: 4px;
  height: 26px;
  font-size: 12px;
  padding: 4px 9px;
  min-height: 24px;
  background-color: #e3e3e3;
  color: #161617;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
}

.sendMsgBtn {
  width: 100%;
  margin-top: 40px;
  border-radius: 12px;
  border: 0;
  height: 52px;
  font-size: 16px;
  cursor: pointer;
  padding: 0px 16px;
  color: #000000;
  text-transform: uppercase;
  transition: opacity 300ms;
}

.sendMsgBtn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.sendMsgBtn:active {
  opacity: 0.6;
}

.sendMsgBtn:disabled {
  cursor: not-allowed;
  opacity: 0.6;
  color: #ffffff;
}

.networkSelector {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #e3e3e3;
  border-radius: 12px;
  flex: 1;
  min-width: 180px;
  transition: background-color 300ms, opacity 300ms;
  position: relative;
}

.networkSelector:hover {
  background-color: #c8c8c8;
  cursor: pointer;
}

.networkSelector:active {
  opacity: 0.8;
}

.directionText {
  color: #7d7d7d;
  font-size: 12px;
  text-transform: capitalize;
}

.activeChainWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.activeChainName {
  color: #161617;
  font-weight: 500;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80%;
}

.arrow {
  margin-left: 8px;
  color: #7d7d7d;
  font-size: 12px;
  transform: rotateZ(90deg);
  transition: transform 300ms;
}

.arrow.expand {
  transform: rotateZ(-90deg);
}

.chainsDropdown {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 10;
  background-color: #f1f1f1;
  border-radius: 12px;
  max-height: 320px;
  overflow-y: auto;
}

.chainsDropdownItem {
  padding: 8px 16px;
  transition: background-color 300ms;
  border-radius: 12px;
}

.chainsDropdownItem:not(:first-child) {
  border-top: 1px solid #e1dede;
}

.chainsDropdownItem span {
  color: #161617;
  font-weight: 500;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

.chainsDropdownItem:hover {
  cursor: pointer;
  background-color: #ffffff;
}
